<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="todoItem">Todo Item</label>
            <input type="text" #todoItem class="form-control">
        </div>
        <button class="btn btn-primary"
        (click)="onTodoAdd(todoItem)"
        >Add Todo</button>
    </div>
    <div class="col-md-6">
        <ul class="list-group"
        *ngIf="todoArr.length > 0; else noTodo">
            <li class="list-group-item"
            *ngFor="let todo of todoArr"
            >
            {{todo.todoItem}}
        </li>
        </ul>
       <ng-template #noTodo>
        <p class="alert alert-warning">
            No Todo Items Added Yet...
        </p>
       </ng-template>
    </div>
</div>
